html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #1c1c1c;
  background-image: url(./background.jpg);
  background-size: cover;
  color: #a9a9a9;
  font-family: 'Courier Prime', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

img {
  border-radius: 128px;
  object-fit: cover;
  
}

#name {
  font-size: 32px;
  font-weight: bold;
  margin-left: 16px;
}

#humorous-paragraph {
  margin-left: 16px;
}

.face {
  margin-top: 16px;
  margin-left: 16px;
  image-rendering: pixelated;
}

.window {
  border: solid;
  display: flex;
  flex-direction: column;
  background-color: #1c1c1cd0;
  backdrop-filter: blur(4px);
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.windowheader {
  width: 100%;
  display: flex;
  cursor: grab;
  align-items: center;
  justify-content: center;
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

.headertext {
  margin: 4px;
}

.cross {
  position: absolute;
  right: 0px;
  content: url("./cross.svg");
  width: 16px;
  height: 16px;
  margin-right: 8px;
  cursor: pointer;
}

#top-bar {
  position: absolute;
  width: 100%;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
}

#top-name {
  margin-left: 12px;
  padding: 2px 8px;
}

#time {
  margin-right: 12px;
  padding: 2px 8px;
}

#yeah {
  padding: 2px 8px;
  max-width: fit-content;
}